@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap');
:root{
     --WHITE: #ffff;
     --WHITE1: #e3e3e3;
     --WHITE2: #f0f0f0;
     --BLACK: #1d1d1d;
     --BLACK1: #151515;
     --BLACK61: #3d3d3d;
     --GREY: 	#7b7b7b;
     --PURPLE: #454679;
     --YELLOW: #ffc900;

}
*{
     padding: 0;
     margin: 0;
}

a{text-decoration: none;}
div{transition: background-color 0.5s ease, color 0.5s ease;}

body.light-mode {
     --PRIMARY: var(--WHITE1);
     --SECONDARY: var(--WHITE2);
     --LETTERCOLOR: var(--BLACK);
}

body.dark-mode {
     --PRIMARY: var(--BLACK);
     --SECONDARY: var(--BLACK1);
     --LETTERCOLOR: var(--WHITE);
}

.toggle-button {
     position: fixed;
     bottom: 20px;
     left: 20px;
     min-width: 50px;
     min-height: 50px;
     border-radius: 50%;
     background-color: var(--BLACK61);
     color: #fff;
     display: flex;
     justify-content: center;
     align-items: center;
     cursor: pointer;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
     transition: background-color 0.3s ease;
}
 
.toggle-button:hover {
     background-color: var(--PURPLE);
}

/*INICIO CSS HEADER*/
header{
     background-color: var(--PRIMARY);
     position: fixed;
     height: 60px;
     width: 100%;
     z-index: 3;
     box-shadow: 5px 0 10px;
}
#header{
     min-width: 400px;
     max-width: 1200px;
     height: 60px;
     margin: auto;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-between;
     padding: 0 10px 0 10px;
}
#header h1{
     color: var(--YELLOW);
     font-family: "MuseoModerno";
     text-decoration: none;
}
#topics{
     display: block;
     font-family: "MuseoModerno";
     min-width: 320px;
}
#topics a{
     color: var(--YELLOW);
     margin: 0 7px 0 7px;
}
#topics a:hover{
     border-bottom-style: solid;
     border-width: 1px;
}
/*FINAL CSS HEADER*/
/***************************************************************************/
/*INICIO CSS HOME*/
#home{
     background-color: var(--PRIMARY);
}
#profile{
     min-width: 400px;
     max-width: 1200px;
     padding: 100px 10px 100px 10px;
     margin: auto;
     display: flex;
     justify-content: space-between;
     align-items: center;
     flex-wrap: wrap-reverse;
}

#profile img{
     min-width: 300px;
     max-width: 380px;
     border-radius: 10px;
     box-shadow: 10px 10px 30px;
}

.name{
     min-width: 300px;
     padding: 0 10px 0 10px;
}

.name h2{
     color: var(--PURPLE);
     font-family: "MuseoModerno";
     text-align: end;
}

.name h1{
     color: var(--YELLOW);
     font-size: 60px;
     font-family: "MuseoModerno";
     text-align: end;
}

/*FINAL CSS HOME*/
/***************************************************************************/
/*INICIO CSS ABOUT-ME*/
#about-me{
     background-color: var(--SECONDARY);
     padding: 50px 0 100px 0;
}
#about-me h1{
     font-size: 50px; 
     font-family: "MuseoModerno"; 
     color: var(--PURPLE);
}
#aboutMeCont{
     min-width: 400px;
     max-width: 1200px;
     margin: 100px 0 100px 0;
     margin: auto;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
}
#content{
     min-width: 400px;
     max-width: 800px;
}
#content p{
     font-size: 20px;
     color: var(--LETTERCOLOR);
     font-family: "MuseoModerno"; 
}
/*FINAL CSS ABOUT-ME*/
/***************************************************************************/
/*INICIO CSS PROJECTS*/
#projects{
     background-color: var(--PRIMARY);
     padding: 50px 0 100px 0;
}
#projectsContainer h1{
     font-size: 50px; 
     font-family: "MuseoModerno"; 
     color: var(--PURPLE);
     margin-bottom: 40px;
}

#projectsContainer{
     min-width: 400px;
     max-width: 1200px;
     margin: 100px 0 100px 0;
     margin: auto;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
}

#projContent{
     display: flex;
     flex-wrap: wrap;
     margin: auto;
}

#projContent img{
     min-width: 300px;
     max-width: 340px;
     margin-bottom: 30px;
}

.proj{
     background-color: var(--PRIMARY);
     max-width: 300px;
     height: 400px;
     margin: 10px 20px 20px 20px;
     padding: 10px 20px 10px 20px;
     display: flex;
     flex-direction: column;
     border-radius: 10px;

     box-shadow: 10px 10px 20px;
}
.proj h2{
     font-family: "MuseoModerno";
     color: var(--LETTERCOLOR);
     margin-bottom: 20px;
}

#links{
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     text-overflow: clip;
     height: 130px;
}
#links a{
     font-family: "MuseoModerno";
     color: var(--LETTERCOLOR);
}

#links a::before{
     content: "🔗";
}

/*FINAL CSS PROJECTS*/
/*INICIO CSS CONHECIMENTOS*/
#know{
     background-color: var(--SECONDARY);
     padding: 50px 0 100px 0;
}
#knowContainer h1{
     font-size: 50px; 
     font-family: "MuseoModerno"; 
     color: var(--PURPLE);
     margin-bottom: 40px;
}

#knowContainer{
     min-width: 400px;
     max-width: 1200px;
     margin: 100px 0 100px 0;
     margin: auto;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
}

#knowContent{
     display: flex;
     flex-wrap: wrap;
     margin: auto;
     text-align: center;
}

#knowContent img{
     padding: 10px;
     width: 60%;
}

.sepKnow{
     background-color: var(--SECONDARY);
     max-width: 200px;
     height: 300px;
     margin: 10px 20px 20px 20px;
     padding: 10px 20px 10px 20px;
     display: flex;
     flex-direction: column;
     justify-content: space-around;

     align-items: center;
     border-radius: 10px;

     box-shadow: 10px 10px 20px;
}
.sepKnow h2{
     font-family: "MuseoModerno";
     color: var(--LETTERCOLOR);
}

.sepKnow p{
     font-family: "MuseoModerno";
     color: var(--YELLOW);
     font-size: 25px;
}
/*FINAL CSS CONHECIMENTOS*/

#footer{
     background-color: var(--SECONDARY);
     width: 100wh;
     text-align: center;
     align-items: center;
     padding: 10px 0 10px 0;
}
#footer #contatos{
     height: 40px;
     margin: 20px 0 30px 0;
     filter: invert();
}

#contatos img{
     padding: 0 10px 0 10px;
     height: 40px;
}

#footer p{
     color: var(--LETTERCOLOR);
     font-family: "MuseoModerno";
}